.user-card {
  height: 250px !important;
  width: 80%;
  background: #fff;
  border: 1px solid grey;
  margin: 3vh auto;
  color: #b800c8;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #fff;
  text-align: center;
  padding:25px 5px 5px 5px;

  .user-img{
    height:60%;
    width:70%;
    margin-bottom: 10px;
  }
}

.user-card:nth-child(1){
    margin-top: 10vh;
}

.user-card:last-child{
    margin-bottom: 10vh;
}
