.left-menu {
  background: purple;
  width: 20vw;
  min-width: 200px;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
  margin-bottom: 12vh;

  &::-webkit-scrollbar {
    display: none;
  }
}
