.homepage {
  background: #fff;
  color:black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 
  .right-menu{
    background:grey;
    width:100%;
    height:100%
  }
}
